.aboutTop{
    align-items: center;
    font-family:"Aboreto" ;
    
}


.aboutTop{
    width: auto;
}

.aboutBottom{
    display:flex;
    align-items: center;
    margin-top: 0px;  
    font-family:"Aboreto" ;
}

.aboutBottom{
    width: fit-content;
}

