.aboutTop{
    align-items: center;
    
    
}


.aboutTop{
    width: auto;
}

.aboutBottom{
    display:flex;
    align-items: center;
    margin-top: 0px;  
}

.aboutBottom{
    width: fit-content;
}

