<<<<<<< HEAD
.table3 {
  width: auto;
  color: aqua;
  margin: 50px;
}

.card22 {
  padding-left: 20px;
}

.cardHolder {
  // background-color: aquamarine;
  // max-width: 750px;
  // margin-top: 50px;
  // margin-left: 75px;
  padding: 50px;
  padding-left: 80px;
  //background-image: linear-gradient(#bdc3c7, #2c3e50);
}

.cardBig {
  border-color: aqua;
}

.cardBig_image:hover {
  transform: scale(1.1);
}
=======
.table3{
    width: auto;
    color: aqua;
    margin: 50px;
}


.card22{
    padding-left: 20px;
}

.cardHolder{
    background-color: aquamarine;
   // max-width: 750px;
    // margin-top: 50px;
    // margin-left: 75px;
    padding: 50px;
    padding-left: 80px;

}
>>>>>>> 08298f13a48fa32c76194a29f52dd30bb42555c8
