.addRoom{
    width: 100%;
    display: flex;
}

.newContainer{
    flex: 6;
    
}

.top {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding-top: 10px;
    padding-left: 0px;
    margin-top: 20px;
    Min-height: 50px;
    background-color: #ffbc4d;
    content: center;
}

.bottom {
    
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding-left: 80px;
    padding-top: 20px;
    margin-top: 20px;
    display: flex; 
}

.left{
    flex: 1;
    padding-top: 80px;
    padding-left: 20px;
    

}

.right{
    flex: 2;
   
}




.image{
    width: 200px;
    height: 200px;
    
}

.formInput{
    width: 40%;
    font-size: medium;
}

.form-control-file{
    border-bottom: none;
}

.form-control{
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;

}

label{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    cursor: pointer;
}

button{
    width: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container1{

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.invalid-field{
    border-color: red;
    color: red;
    background-color: #fff;
}




